.main-promo h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

@font-face {
    font-family: ElectroluxSans-Light;
    src: url(/fonts/ElectroluxSans/ElectroluxSans-Light.otf);
}

@font-face {
    font-family: ElectroluxSans-Regular;
    src: url(/fonts/ElectroluxSans/ElectroluxSans-Regular.otf);
}

@font-face {
    font-family: ElectroluxSans-Bold;
    src: url(/fonts/ElectroluxSans/ElectroluxSans-SemiBold.otf);
}

.main-promo {
    max-width: 1500px;
    margin: 0 auto;
}

.block-content-1 {
    display: flex;
    justify-content: space-between;
}

.block-content-1__block-left-content {
    width: 673px;
    background: #041E41;
    padding: 37px 50px;
    color: #fff;
    font-family: ElectroluxSans-Light;
}

.block-content-1__header {
    font-size: 48px;
    margin: 0;
    margin-top: 30px;
    font-family: ElectroluxSans-Bold;
}

.block-content-1__second-block {
    display: flex;
    justify-content: space-between;
}

.block-content-1__first-p {
    font-size: 36px;
    margin: 20px 0;
}

.block-content-1__img-fairy {
    width: 219px;
}

.block-content-1__img-fairy-wrapper {
    text-align: center;
    font-size: 30px;
}

.block-content-1__firts-p {
    margin: 0;
    
}

.block-content-1__third-block {
    margin-top: -50px;
}

.block-content-1__button {
    width: 238px;
    height: 60px;
    font-size: 26px;
    background: #FE392F;
    color: #fff;
    border: none;
}

.block-content-1__button:hover {
    background: #D22D19;
    cursor: pointer;
}

.block-content-1__second-p {
    font-size: 26px;
    margin-top: 37px;
}

.block-content-1__third-p {
    font-size: 20px;
    color: #DFE7EA;
}

.block-content-1__block-right-contet-img {
    background: url(/images/first-block-content__person.png) no-repeat center center;
    background-size: cover;
    width: 875px;
}

.block-content-1__img-person {
    width: 100%;
}

.block-content-2 {
    text-align: center;
    color: #041E41;
    margin-bottom: 50px;
}

.block-content-2__first-p {
    font-size: 24px;
    margin-bottom: 0;
    font-family: ElectroluxSans-Bold;
}

.block-content-2__second-p {
    font-size: 14px;
    font-family: ElectroluxSans-Light;
}

.block-content-3 {
    font-family: ElectroluxSans-Regular;
    line-height: 25px;
}

.block-content-3__row {
    display: grid;
    margin: auto;
    grid-template-rows: 480px 480px 480px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: "top top top""center center center""bottom bottom bottom";
}

.block-content-3__item {
    display: flex;
    align-items: flex-end;
    color: #fff;
    padding: 0 0 25px 25px;
}

.block-content-3__header {
    font-size: 24px;
    font-family: ElectroluxSans-Regular;
}

.block-content-3__text {
    font-size: 16px;
}

.top-1 {
    background: linear-gradient(180deg, rgba(30, 37, 46, 0) 35.06%, #1E252E 99.2%), url(/images/block-content-3/1.png) no-repeat center center;
    background-size: cover;
}

.top-2 {
    background: linear-gradient(180deg, rgba(30, 37, 46, 0) 35.06%, #1E252E 99.2%), url(/images/block-content-3/2.png) no-repeat center center;
    background-size: cover;
}

.top-3 {
    background: linear-gradient(180deg, rgba(30, 37, 46, 0) 35.06%, #1E252E 99.2%), url(/images/block-content-3/3.png) no-repeat center center;
    background-size: cover;
}

.center {
    background: chocolate;
    background: linear-gradient(180deg, rgba(30, 37, 46, 0) 35.06%, #1E252E 99.2%), url(/images/block-content-3/4.png) no-repeat center center;
    background-size: cover;
    grid-area: center;
    align-items: center;
}

.block-content-3__wrapper-text-block-center {
    height: 232px;
    width: 450px;
    background: #FFFFFF;
    color: #041E41;
    opacity: 0.85;
    display: table;
    padding-left: 25px;
}

.block-content-3__header-center_margin-top {
    margin-top: 65px;
    font-family: ElectroluxSans-Bold;
}

.block-content-3__header-center {
    font-size: 24px;
}

.block-content-3__text-center {
    font-size: 16px;
}

.bottom-1 {
    background: linear-gradient(180deg, rgba(30, 37, 46, 0) 35.06%, #1E252E 99.2%), url(/images/block-content-3/5.png) no-repeat center center;
    background-size: cover;
}

.bottom-2 {
    background: linear-gradient(180deg, rgba(30, 37, 46, 0) 35.06%, #1E252E 99.2%), url(/images/block-content-3/6.png) no-repeat center center;
    background-size: cover;
}

.bottom-3 {
    background: linear-gradient(180deg, rgba(30, 37, 46, 0) 35.06%, #1E252E 99.2%), url(/images/block-content-3/7.png) no-repeat center center;
    background-size: cover;
}

.block-content-4 {
    margin: 30px 0 60px 0;
    text-align: center;
    color: #041E41;
    font-size: 14px;
    font-family: ElectroluxSans-Light;
}

.block-content-4__first-text {
    margin-bottom: 0px;
}

.block-content-4__second-text {
    text-decoration: none;
    color: #041E41;
    font-weight: 900;
    border-bottom: solid 2px #041E41;
    font-family: ElectroluxSans-Regular;
}

.block-content-4__second-text:hover {
    opacity: 0.5;
}

/* media */

@media screen and (max-width: 1300px) {
    .block-content-1__third-block {
        margin-top: 15px;
    }
}

@media screen and (max-width: 800px) {
    .block-content-3__row {
        grid-template-rows: 355px 355px 355px;
    }
}